#header {
    .logo-left .logo {
        margin-right: 24px;

        a {
            padding: 4px 8px;
        }
    }

    .header-wrapper {
        max-width: 1424px;
        margin: 10px auto 0;
        border-radius: 12px;
        background: var(--Color-White-white-100, #fff);
        box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.05);
    }

    .header-bg-color {
        background: transparent;
    }

    .header-nav {
        align-items: stretch;

        &:has(.header-search) {
            align-items: center;
        }

        .menu-item {
            margin: 0;
            color: var(--Color-Gray-gray-900, #18181b);

            /* Normal/text-lg */
            font-family: var(--Font-Inter, Inter);
            font-size: var(--Font-Size-17, 17px);
            font-style: normal;
            font-weight: 400;
            line-height: 24px;
            /* 141.176% */
            border: none;

            a {
                font-size: inherit;
                font-weight: inherit;
                color: inherit;
                text-transform: initial;
                line-height: inherit;
                height: 100%;

                i {
                    transform: rotate(0deg);
                    transition: 0.2s all;
                    font-size: 16px;
                    width: 16px;
                    height: 16px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 1;
                    margin-left: 6px;
                }

                &[href] {
                    &:hover {
                        color: var(--fs-experimental-link-color-hover);
                    }
                }
            }

            &.current-menu-item {
                a {
                    color: var(--fs-experimental-link-color-hover);
                }
            }

            &.underline {
                &>a {
                    text-decoration: underline;
                    text-underline-position: under;
                }
            }
        }

        .sub-menu {
            border: none;

            .menu-item {
                border: none;
                color: var(--Color-Gray-gray-900, #18181b);
                /* Normal/text-lg */
                font-family: var(--Font-Inter, Inter);
                font-size: var(--Font-Size-17, 17px);
                font-style: normal;
                font-weight: 400;
                line-height: 24px;

                /* 141.176% */
                a {
                    border: none;
                    margin: 0 12px;
                    padding: 8px 0;
                }
            }
        }

        &>.menu-item {
            &>a {
                padding: 12px 20px;

                &+.sub-menu {
                    padding: 24px 12px;
                    border-radius: 12px;
                    background: var(--Color-White-white-100, #fff);
                    box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.05);
                    transform: translateY(14px);
                    margin-left: 0 !important;
                    left: 20px;

                    &>.menu-item {
                        min-width: 236px;
                        width: 236px;

                        &.menu-item-has-children {
                            font-weight: 700;
                        }
                    }
                }
            }

            &.current-dropdown {
                &>a {
                    color: var(--fs-experimental-link-color-hover);

                    i {
                        transform: rotate(180deg);
                        transition: 0.2s all;
                    }
                }

                &:before,
                &:after {
                    bottom: -20px;
                    border-width: 50px;
                    transform: translateX(-50%);
                    opacity: 0;
                }
            }
        }

        &>.header-search,
        &>.cart-item {
            &>a {
                line-height: 1px;
                padding: 12px;
                min-height: 20px;
                min-width: 20px;
            }
        }
    }
}