.post-item {
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-4px);
    }

    &.col {
        display: flex;

        &>.col-inner {
            overflow: hidden;
            border-radius: 12px;
            background: var(--Color-White-white-100, #FFF);
        }
    }

    .box-blog-post {}

    .box-image {
        .image-cover {
            a>img {}

            img {
                width: 100%;
                aspect-ratio: 321.75/257.70;
                object-fit: cover;
                object-position: top center;
            }
        }
    }

    .box-text {
        padding: 0;
        margin: 0;
    }

    .blog-post-inner {
        display: flex;
        padding: 24px;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 20px;
        align-self: stretch;

        .cat-label {
            display: block;
            border-radius: 8px;
            background: #A2B4B5;
            color: var(--Color-Gray-gray-900, #18181B);

            /* Normal/text-xs */
            font-family: var(--Font-Inter, Inter);
            font-size: var(--Font-Size-12, 12px);
            font-style: normal;
            font-weight: 400;
            line-height: 133.333%;

            &:hover {
                background: #A2B4B5;
            }
        }

        .post-title {
            margin: 0;

            &>a {
                overflow: hidden;
                color: var(--Color-Gray-gray-900, #18181B);
                text-overflow: ellipsis;

                /* Normal/text-xl */
                font-family: var(--Font-Inter, Inter);
                font-size: var(--Font-Size-19, 19px);
                font-style: normal;
                font-weight: 400;
                line-height: 136.842%;
                margin: 0;
            }
        }

        .is-divider {
            display: none;
        }

        .from_the_blog_excerpt {
            overflow: hidden;
            color: var(--Color-Gray-gray-500, #71717B);
            text-overflow: ellipsis;

            /* Normal/text-md */
            font-family: var(--Font-Inter, Inter);
            font-size: var(--Font-Size-15, 15px);
            font-style: normal;
            font-weight: 400;
            line-height: 146.667%;
        }
    }
}