.solution-card {
    margin-bottom: 84px;
    perspective: 572px;

    &:last-of-type {
        margin-bottom: 0;
    }

    &+.solution-card {
        // margin-top: 84px;
    }

    &>.col>.col-inner {
        overflow: hidden;
        border-radius: 12px;
        padding: 12px;
        background: var(--Background-bg-card01, #DDEFF0);
    }

    &--highlighted {}

    &--inactive {
        &>.col>.col-inner {
            background: #E8E5D8;
        }
    }

    &__content,
    &__image {
        @include respond-min(850px) {
            padding-bottom: 0;

        }

        &>.col-inner {
            overflow: hidden;
            border-radius: 10px;
        }
    }

    &__content {
        &>.col-inner {
            padding: 20px;
            border-radius: 10px;
            background: var(--Color-White-white-30, rgba(255, 255, 255, 0.30));
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 20px;
            align-self: stretch;
        }
    }

    &__tag {

        p {
            display: flex;
            padding: 6px 12px;
            justify-content: center;
            align-items: center;
            border-radius: 99px;
            background: var(--Color-Secondary-secondary-400, #FDB913);
            color: var(--Color-White-white-100, #FFF);

            /* Normal/text-sm */
            font-family: var(--Font-Inter, Inter);
            font-size: var(--Font-Size-14, 14px);
            font-style: normal;
            font-weight: 400;
            line-height: 19px;
            /* 135.714% */
        }
    }

    &__description {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        flex: 1 0 0;
        align-self: stretch;

        h3 {
            color: var(--Color-Gray-gray-900, #18181B);

            /* Bold/text-4xl */
            font-family: var(--Font-Inter, Inter);
            font-size: var(--Font-Size-30, 30px);
            font-style: normal;
            font-weight: 700;
            line-height: 120%;
            margin-bottom: 20px;
        }

        p {
            color: var(--Color-Gray-gray-900, #18181B);

            /* Normal/text-3xl */
            font-family: var(--Font-Inter, Inter);
            font-size: var(--Font-Size-24, 24px);
            font-style: normal;
            font-weight: 400;
            line-height: 133.333%;
        }

    }

    &__button {
        margin-bottom: 0;
    }

    &__image {
        @include respond-min(850px) {
            padding-left: 0;

        }

        &>.col-inner {}

        .img,
        .img>.img-inner,
        .img>.img-inner>img {
            height: 100%;
        }

        img {
            width: 100%;
            aspect-ratio: 1/1;
        }
    }
}