#footer-style-antsomi {
    background: white;
    padding-top: 60px;
    padding-bottom: 40px;

    &_col-logo {
        margin-bottom: 48px;
    }

    &_col-menu {
        margin-bottom: 28px;

        .fusion-text {
            :first-child {
                margin-top: 0;
                color: var(--color-item-menu) !important;
            }

            :last-child {
                margin-bottom: 0;
            }

            &+.fusion-text {
                margin-top: 24px;
            }

            strong {
                font-size: 110%;
                text-transform: uppercase;
            }

            a {
                color: var(--color-item-menu) !important;
                display: inline-block;
                position: relative;

                &:after {
                    content: '';
                    display: inline-block;
                    width: 100%;
                    height: 2px;
                    background: var(--link_color);
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    max-width: 0;
                    transition: 0.4s max-width;
                }

                &:hover {
                    color: var(--color-item-menu-hover) !important;

                    &:after {
                        content: '';
                        display: inline-block;
                        width: 100%;
                        height: 2px;
                        background: var(--link_color);
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        max-width: 100%;
                        transition: 0.4s max-width;
                    }
                }
            }

            p {
                margin-bottom: 16px;
            }

            @media screen and (max-width: 700px) {
                border-top: 1px solid rgba(33, 41, 52, 0.15);
                padding-top: 20px;
            }
        }

        &>.fusion-column-wrapper>.fusion-builder-row>.fusion-layout-column:first-child {
            .fusion-text:first-child {
                @media screen and (max-width: 700px) {
                    border-top: none;
                    padding-top: 0;
                }
            }
        }
    }

    &_col-info {
        margin-bottom: 48px;
        z-index: 99;
    }

    &_col-absolute {
        margin-bottom: 0;

        p {
            margin: 0;
            font-size: 12px;
        }

        &-menu {
            .fusion-text {
                display: flex;
                flex-flow: row wrap;
                margin-bottom: -8px;
            }

            p:last-child {
                a {
                    margin-right: 0;
                }
            }

            a {
                display: block;
                margin-right: 16px;
                margin-bottom: 8px;
                color: black;

                &:hover {
                    color: var(--link_color);
                }
            }
        }
    }

    [id^="menu-language-icon"] {

        .menu-text,
        .awb-menu__open-nav-submenu-hover {
            font-weight: bold;
            font-family: Lato, 'Roboto Flex', Roboto, sans-serif !important;
        }

        .awb-menu__sub-ul {
            box-shadow: 0px 5px 15px 0px #002e5926;
        }

        @include respond(small) {
            margin-bottom: 20px;

            .awb-menu__sub-ul {
                .awb-menu__sub-a {
                    padding-left: 1.5rem !important;
                }
            }
        }
    }

    #footer-col {
        // &-dropdown-language {
        //     width: auto;
        //     padding-right: 15px;
        //     margin-right: 40px;
        //     margin-left: 2px;

        //     .fusion-column-wrapper {
        //         margin-left: 15px;

        //         ul {
        //             margin: 0;

        //             &>li:first-child {
        //                 display: flex;
        //                 flex-flow: row nowrap;
        //                 color: red;
        //                 padding-bottom: 15px;
        //                 cursor: pointer;

        //                 .icon-wrapper {
        //                     background-color: unset;
        //                     text-align: center;
        //                     float: none;
        //                     align-items: center;

        //                     .fusion-li-icon {
        //                         color: black;
        //                     }
        //                 }

        //                 .fusion-li-item-content {
        //                     margin: 0;
        //                 }

        //                 &:after {
        //                     content: '';
        //                     display: block;
        //                     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='25' fill='none' viewBox='0 0 24 24' aria-hidden='true' role='img' class='mc-icon mc-icon--md '%3E%3Cpath fill='black' fill-rule='evenodd' d='M2.325 7.322a1.12 1.12 0 0 1 1.572 0L12 15.344l8.103-8.022a1.12 1.12 0 0 1 1.572 0c.433.43.433 1.126 0 1.556l-8.89 8.8a1.12 1.12 0 0 1-1.57 0l-8.89-8.8a1.09 1.09 0 0 1 0-1.556' clip-rule='evenodd'%3E%3C/path%3E%3C/svg%3E");
        //                     background-position: center;
        //                     background-repeat: no-repeat;
        //                     background-size: contain;
        //                     min-width: 15px;
        //                     min-height: 15px;
        //                     margin-left: 15px;
        //                 }
        //             }

        //             &>li:not(:first-child) {
        //                 border-radius: 12px;
        //                 padding: 0;
        //                 min-width: 140px;
        //                 box-shadow:
        //                     0 10px 15px rgba(0, 46, 89, 0.1490196078),
        //                     0 10px 15px rgba(0, 46, 89, 0.1490196078);
        //                 width: fit-content;
        //                 position: absolute;
        //                 left: 0;
        //                 opacity: 0;
        //                 visibility: hidden;
        //                 background: white;
        //                 overflow: hidden;
        //                 z-index: 99;

        //                 .icon-wrapper {
        //                     display: none;
        //                 }

        //                 .fusion-li-item-content {
        //                     margin: 0;
        //                 }
        //             }

        //             &:hover {
        //                 &>li:not(:first-child) {
        //                     opacity: 1;
        //                     visibility: visible;
        //                 }
        //             }
        //         }

        //         ol {
        //             padding: 0;
        //             list-style: none;
        //             display: flex;
        //             flex-flow: row nowrap;
        //             align-items: center;
        //             padding: 10px 20px;

        //             &:hover {
        //                 background-color: aliceblue;
        //             }

        //             a {
        //                 color: black !important;
        //             }

        //             &:last-child {
        //                 margin-bottom: 0;
        //             }

        //             li {
        //                 &:first-child {
        //                     color: #000;
        //                     background: #feed1b;
        //                     margin-right: 12px;
        //                     padding: 8px;
        //                     border-radius: 8px;
        //                     line-height: 1;
        //                     aspect-ratio: 1 / 1;
        //                     font-weight: bold;
        //                     display: flex;
        //                     justify-content: center;
        //                     align-items: center;
        //                 }
        //             }
        //         }
        //     }
        // }

        &-icon-social {
            .fusion-column-wrapper {
                flex-flow: row wrap;

                @include respond(small) {
                    margin-bottom: 20px;
                }

                .fontawesome-icon {
                    background-color: unset !important;
                    border: none !important;
                    color: black;
                    width: 22px;
                    height: 22px;
                    font-size: 22px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-right: 30px;
                    transition: 0.2s ease-in-out;
                    scale: 1;

                    &:hover {
                        transition: 0.2s ease-in-out;
                        scale: 1.2;
                    }
                }
            }
        }

        &-list-logo {
            flex: auto;
            margin-bottom: -20px;

            &>.fusion-column-wrapper {
                flex-flow: row wrap;
            }

            .fusion-image-element {
                margin-right: 40px;
                margin-bottom: 20px;

                @media screen and (max-width: 700px) {
                    margin-right: 20px;
                }

                img {
                    height: 100%;
                    width: auto;
                    max-height: 60px;
                }
            }
        }
    }

}