body {
    color: var(--Color-Gray-gray-700, #3F3F46);
    /* Normal/text-lg */
    font-family: var(--Font-Inter, Inter);
    font-size: var(--Font-Size-17, 17px);
    font-style: normal;
    font-weight: 400;
    line-height: 141.176%;
    background: var(--Background-bg-page, #FBF9F6);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--Font-Playfair, Playfair);
}

h1,
.h1 {}

h2,
.h2 {
    color: var(--Color-Gray-gray-900, #18181B);
    /* Bold/text-7xl */
    font-size: var(--Font-Size-60, 60px);
    font-style: normal;
    font-weight: 700;
    line-height: 1;
}

h3,
.h3 {}

h4,
.h4 {}

h5,
.h5 {}

h6,
.h6 {}