[class*="i-custom_"] {
    opacity: 0;

    &.uxb-draggable {
        opacity: 1;
    }
}

.uxb-wrapper {
    [class*="i-custom_"] {
        opacity: 1;
    }
}

[class*="i-custom_"].has-changed {
    animation: bevitaFadeIn 0.2s ease forwards;
}

@keyframes bevitaFadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.button {

    &.button.is-link,
    &.button.is-underline {
        padding: 0;
        min-width: unset;
        min-height: unset;
        color: var(--Color-Gray-gray-900, #18181B);

        span {
            line-height: inherit;
        }
    }
}

.white.button.is-outline {
    color: var(--Color-Gray-gray-900, #18181B) !important;
}

.button.button-badge {
    border-radius: 8px !important;
    background: #A2B4B5 !important;
    padding: 6px 12px !important;
    margin-right: 12px;
    margin-bottom: 10px;

    span {
        color: var(--Color-Gray-gray-900, #18181B);

        /* Semibold/text-xs */
        font-family: var(--Font-Inter, Inter);
        font-size: 12px;
        font-style: normal;
        font-weight: 600;
        line-height: 16px;
        /* 133.333% */
    }

    i {
        color: var(--Color-Gray-gray-900, #18181B);
    }

    &.secondary {
        background: var(--Color-Secondary-secondary-500, #F79C09) !important;

        span {
            color: var(--Color-White-white-100, #FFF);

            /* Normal/text-xs */
            font-family: var(--Font-Inter, Inter);
            font-size: var(--Font-Size-12, 12px);
            font-style: normal;
            font-weight: 400;
            line-height: 16px;
            /* 133.333% */
        }

        i {
            color: white;
        }
    }
}