.skin-process {
  padding-top: 120px !important;
  padding-bottom: 120px !important;

  &__title {}

  &__subtitle {}

  &__container {
    &>.col {
      padding-bottom: 0;
    }
  }

  /* GRID WRAPPER */
  &__grid {
    display: grid;
    grid-template-columns: 1fr;
    /* mobile */
    gap: 24px;
    margin: 0 auto;

    &>.col {
      padding: 0;
    }
  }

  /* IMAGE CENTER */
  &__image {
    width: 100%;
    overflow: hidden;
    padding: 0;


    &>.col-inner,
    .img,
    .img>.img-inner {
      height: 100%;
    }

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
      border-radius: 12px;
      background: #FFF;
    }
  }

  /* CARD BLOCK */
  &__step {}

  .card {

    &>.col-inner {
      display: flex;
      padding: 32px;
      flex-direction: column;
      align-items: flex-start;
      gap: 12px;
      flex: 1 0 0;
      align-self: stretch;
      overflow: hidden;
      border-radius: 12px;
      background: var(--Color-White-white-100, #FFF);
    }

    &__number {

      border-radius: 10px;
      background: var(--Color-Gray-gray-100, #F4F4F5);
      display: flex;
      width: 64px;
      height: 64px;
      justify-content: center;
      align-items: center;

      p {
        color: var(--Color-Primary-primary-600, #00B1BD);
        text-align: center;

        /* Bold/text-5xl */
        font-family: var(--Font-Inter, Inter);
        font-size: var(--Font-Size-36, 36px);
        font-style: normal;
        font-weight: 700;
        line-height: 40px;
        /* 111.111% */
      }
    }

    &__title {
      * {
        color: var(--Color-Gray-gray-900, #18181B);

        /* Normal/text-3xl */
        font-family: var(--Font-Inter, Inter);
        font-size: var(--Font-Size-24, 24px);
        font-style: normal;
        font-weight: 400;
        line-height: 133.333%;
      }
    }

    &__desc {}
  }

  /* DESKTOP LAYOUT */



  @media (min-width: 992px) {
    &__grid {
      grid-template-columns: 1fr 1fr 1fr;
      /* 3 cột: step-left | image | step-right */
      grid-template-rows: auto auto;
      align-items: center;

      &::after {
        display: none;
      }
    }

    /* vị trí theo grid */
    .skin-process__step:nth-child(1) {
      grid-column: 1;
      grid-row: 1;
    }

    .skin-process__step:nth-child(3) {
      grid-column: 3;
      grid-row: 1;
    }

    .skin-process__step:nth-child(4) {
      grid-column: 1;
      grid-row: 2;
    }

    .skin-process__step:nth-child(5) {
      grid-column: 3;
      grid-row: 2;
    }

    .skin-process__image {
      grid-column: 2;
      grid-row: 1 / span 2;
      /* chiếm 2 hàng */
      height: 100%;

      img {
        height: 100%;
        object-fit: cover;
      }
    }
  }

  @media (min-width: 1360px) {
    &__grid {

      grid-template-columns: 402.5px 1fr 402.5px;
    }
  }
}