.product-footer {
    padding: 80px 0;

    .woocommerce-tabs {
        border-top: unset;
        padding: 0;

        // height: 744px;

    }

    &__tabs {
        &>.col-inner {
            height: 100%;
        }

        .tab-panels {
            overflow: hidden;
            max-height: 744px;
        }

        .tab-panels__btn-showmore {
            display: flex;
            padding: 32px 10px 16px 10px;
            justify-content: center;
            align-items: center;
            gap: 8px;
            background: linear-gradient(0deg, #FFF 0%, #FFF 50%, rgba(255, 255, 255, 0.00) 100%);
            border-radius: 10px;
            bottom: 0;
            display: block;
            left: 0;
            margin-bottom: 0;
            padding-top: 50px;
            position: absolute;
            right: 0;
            text-align: center;
            width: 100%;

            .button {
                margin: 0;
            }
        }
    }

    &__news {


        &>.col-inner,
        .is-sticky-column>.is-sticky-column__inner {

            height: 100%;
            padding: 24px;
            border-radius: 12px;
            background: #fff;
        }

        &--heading {
            display: flex;
            align-items: center;
            gap: 10px;
            align-self: stretch;
            margin-bottom: 24px;

            h3 {
                color: var(--Color-Gray-gray-900, #18181B);

                /* Bold/text-3xl */
                font-family: var(--Font-Inter, Inter);
                font-size: var(--Font-Size-24, 24px);
                font-style: normal;
                font-weight: 700;
                line-height: 32px;
                /* 133.333% */
            }

            .button {
                margin: 0;
                flex-shrink: 0;
            }
        }

        .box-blog-post.box-vertical {

            .box-image {
                width: 140px;
                height: 112px;

                .image-cover {}
            }

            .box-text {
                .box-text-inner {
                    padding: 0;
                }

                .post-title>a {
                    font-size: var(--Font-Size-17, 17px);
                    line-height: 141.176%;
                }
            }
        }
    }
}