.product-container {
    .product-main {}

    .product-gallery {}

    .product-info {
        padding: 12px;
        border-radius: 12px;
        background: var(--Background-bg-card01, #DDEFF0);

        &__inner {
            display: flex;
            padding: 32px;
            flex-direction: column;
            align-items: flex-start;
            gap: 24px;
            flex: 1 0 0;
            border-radius: 10px;
            background: rgba(255, 255, 255, 0.30);
        }
    }

    .product-title {
        color: var(--Color-Gray-gray-900, #18181B);

        /* Bold/text-4xl */
        font-family: var(--Font-Inter, Inter);
        font-size: var(--Font-Size-30, 30px);
        font-style: normal;
        font-weight: 700;
        line-height: 120%;
    }


}