.absolute-footer,
html {
  background: #fbf9f6; }

body {
  font-size: 15px; }

#header .logo-left .logo {
  margin-right: 24px; }
  #header .logo-left .logo a {
    padding: 4px 8px; }
#header .header-wrapper {
  max-width: 1424px;
  margin: 10px auto 0;
  border-radius: 12px;
  background: var(--Color-White-white-100, #fff);
  -webkit-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.05); }
#header .header-bg-color {
  background: transparent; }
#header .header-nav {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  #header .header-nav:has(.header-search) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  #header .header-nav .menu-item {
    margin: 0;
    color: var(--Color-Gray-gray-900, #18181b);
    /* Normal/text-lg */
    font-family: var(--Font-Inter, Inter);
    font-size: var(--Font-Size-17, 17px);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 141.176% */
    border: none; }
    #header .header-nav .menu-item a {
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
      text-transform: initial;
      line-height: inherit;
      height: 100%; }
      #header .header-nav .menu-item a i {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
        font-size: 16px;
        width: 16px;
        height: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        opacity: 1;
        margin-left: 6px; }
      #header .header-nav .menu-item a[href]:hover {
        color: var(--fs-experimental-link-color-hover); }
    #header .header-nav .menu-item.underline > a {
      text-decoration: underline;
      text-underline-position: under; }
  #header .header-nav .sub-menu {
    border: none; }
    #header .header-nav .sub-menu .menu-item {
      border: none;
      color: var(--Color-Gray-gray-900, #18181b);
      /* Normal/text-lg */
      font-family: var(--Font-Inter, Inter);
      font-size: var(--Font-Size-17, 17px);
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      /* 141.176% */ }
      #header .header-nav .sub-menu .menu-item a {
        border: none;
        margin: 0 12px;
        padding: 8px 0; }
  #header .header-nav > .menu-item > a {
    padding: 12px 20px; }
    #header .header-nav > .menu-item > a + .sub-menu {
      padding: 24px 12px;
      border-radius: 12px;
      background: var(--Color-White-white-100, #fff);
      -webkit-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.05);
              box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.05);
      -webkit-transform: translateY(14px);
              transform: translateY(14px);
      margin-left: 0 !important;
      left: 20px; }
      #header .header-nav > .menu-item > a + .sub-menu > .menu-item {
        min-width: 236px;
        width: 236px; }
        #header .header-nav > .menu-item > a + .sub-menu > .menu-item.menu-item-has-children {
          font-weight: 700; }
  #header .header-nav > .menu-item.current-dropdown > a {
    color: var(--fs-experimental-link-color-hover); }
    #header .header-nav > .menu-item.current-dropdown > a i {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      -webkit-transition: 0.2s all;
      transition: 0.2s all; }
  #header .header-nav > .menu-item.current-dropdown:before, #header .header-nav > .menu-item.current-dropdown:after {
    bottom: -20px;
    border-width: 50px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0; }
  #header .header-nav > .header-search > a, #header .header-nav > .cart-item > a {
    line-height: 1px;
    padding: 12px;
    min-height: 20px;
    min-width: 20px; }

#footer {
  padding-top: 80px;
  border-top: 1px solid var(--Color-Gray-gray-200, #e4e4e7);
  background: var(--Color-Gray-gray-50, #fafafa); }
  #footer .footer {
    background: var(--Color-Gray-gray-50, #fafafa);
    padding: 0;
    border: none; }
  #footer .footer-widgets.footer-1 {
    --width-block_widget: 490px; }
    #footer .footer-widgets.footer-1 .widget {
      margin-bottom: 24px; }
    #footer .footer-widgets.footer-1 .block_widget {
      max-width: var(--width-block_widget);
      -ms-flex-preferred-size: var(--width-block_widget);
          flex-basis: var(--width-block_widget); }
      #footer .footer-widgets.footer-1 .block_widget .icon-box-img {
        margin-bottom: 12px; }
        #footer .footer-widgets.footer-1 .block_widget .icon-box-img img,
        #footer .footer-widgets.footer-1 .block_widget .icon-box-img svg {
          padding-top: 0; }
      #footer .footer-widgets.footer-1 .block_widget .gap-element {
        padding-top: 20px !important; }
      #footer .footer-widgets.footer-1 .block_widget .social-icons.follow-icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        #footer .footer-widgets.footer-1 .block_widget .social-icons.follow-icons .icon {
          margin: 0;
          line-height: 1;
          width: 36px;
          height: 36px;
          min-width: 36px;
          min-height: 36px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          margin-right: 12px;
          border: none;
          border-radius: 99px;
          background: var(--Color-Gray-gray-200, #e4e4e7); }
          #footer .footer-widgets.footer-1 .block_widget .social-icons.follow-icons .icon i {
            color: black;
            line-height: 1;
            font-size: 20px; }
    #footer .footer-widgets.footer-1 .widget_nav_menu {
      -ms-flex-preferred-size: calc((100% - var(--width-block_widget)) / 3);
          flex-basis: calc((100% - var(--width-block_widget)) / 3);
      max-width: calc((100% - var(--width-block_widget)) / 3); }
      #footer .footer-widgets.footer-1 .widget_nav_menu .widget-title {
        color: var(--Text-text-body, #171717);
        /* Bold/text-lg */
        font-family: var(--Font-Inter, Inter);
        font-size: var(--Font-Size-17, 17px);
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        /* 141.176% */
        margin-bottom: 20px;
        display: block; }
      #footer .footer-widgets.footer-1 .widget_nav_menu .is-divider {
        display: none; }
      #footer .footer-widgets.footer-1 .widget_nav_menu .menu .menu-item {
        border: none;
        color: var(--Color-Gray-gray-900, #18181b);
        /* Normal/text-md */
        font-family: var(--Font-Inter, Inter);
        font-size: var(--Font-Size-15, 15px);
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 146.667% */ }
        #footer .footer-widgets.footer-1 .widget_nav_menu .menu .menu-item a {
          display: block;
          padding: 12px 0; }
  #footer .absolute-footer {
    background: var(--Color-Gray-gray-50, #fafafa);
    padding-top: 0;
    padding-bottom: 0;
    color: var(--Color-Gray-gray-500, #71717b);
    /* text-sm-14-normal */
    font-family: var(--Utilities-Font-font-family, Inter);
    font-size: var(--Utilities-Font-Size-text-sm, 14px);
    font-style: normal;
    font-weight: var(--Utilities-Font-Weight-normal, 400);
    line-height: var(--Utilities-Line-height-20---f14, 20px);
    /* 142.857% */ }
    #footer .absolute-footer > .container {
      padding: 24px 0;
      border-top: 1px solid var(--Color-Gray-gray-200, #e4e4e7); }
    #footer .absolute-footer a {
      color: inherit; }
      #footer .absolute-footer a:hover {
        color: var(--fs-experimental-link-color-hover); }
    #footer .absolute-footer .footer-secondary {
      padding: 0; }
      #footer .absolute-footer .footer-secondary a {
        margin: 0 12px; }
