@charset "UTF-8";
.uxb-draggable.show-for-medium, .uxb-draggable.show-for-small, .uxb-draggable.hide-for-medium, .uxb-draggable.hide-for-small, .uxb-draggable.hidden {
  display: block !important;
  border: 1px solid red;
  position: relative; }
  .uxb-draggable.show-for-medium::after, .uxb-draggable.show-for-small::after, .uxb-draggable.hide-for-medium::after, .uxb-draggable.hide-for-small::after, .uxb-draggable.hidden::after {
    background-color: red;
    color: white;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99; }
.uxb-draggable.show-for-medium {
  max-width: 600px; }
  .uxb-draggable.show-for-medium::after {
    content: 'Chỉ hiển thị ở chế độ Tablet và Mobile'; }
  .uxb-draggable.show-for-medium.hide-for-small::after {
    content: 'Chỉ hiển thị ở chế độ Tablet'; }
.uxb-draggable.show-for-small {
  max-width: 320px; }
  .uxb-draggable.show-for-small::after {
    content: 'Chỉ hiển thị ở chế độ Mobile'; }
.uxb-draggable.hide-for-medium::after {
  content: 'Chỉ hiển thị ở chế độ Desktop'; }
.uxb-draggable.hide-for-small::after {
  content: 'Chỉ hiển thị ở chế độ Desktop và Tablet'; }
.uxb-draggable.hidden {
  visibility: visible !important; }
  .uxb-draggable.hidden::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 1000 1000' enable-background='new 0 0 1000 1000' xml:space='preserve' fill='red' opacity='.2'%3E%3Cmetadata%3E Svg Vector Icons : http://www.onlinewebfonts.com/icon %3C/metadata%3E%3Cg%3E%3Cpath d='M846.5,153.5c-191.3-191.4-501.6-191.4-693,0c-191.4,191.4-191.3,501.6,0,692.9c191.4,191.4,501.6,191.4,693,0C1037.9,655.1,1037.8,344.9,846.5,153.5L846.5,153.5z M211.2,788.8C61.9,639.5,52.5,403.4,182.7,243L757,817.3C596.6,947.5,360.5,938,211.2,788.8L211.2,788.8z M806.7,768.8L231.1,193.3C391.5,52.5,635.7,58.2,788.8,211.2C941.8,364.4,947.5,608.4,806.7,768.8L806.7,768.8z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1; }
  .uxb-draggable.hidden::after {
    content: 'Tạm ẩn trên toàn bộ thiết bị'; }

.uxb-draggable .show-for-medium,
.uxb-draggable .show-for-small,
.uxb-draggable .hide-for-medium,
.uxb-draggable .hide-for-small,
.uxb-draggable .hidden {
  display: block !important;
  border: 1px solid red;
  position: relative; }
  .uxb-draggable .show-for-medium::after,
  .uxb-draggable .show-for-small::after,
  .uxb-draggable .hide-for-medium::after,
  .uxb-draggable .hide-for-small::after,
  .uxb-draggable .hidden::after {
    background-color: red;
    color: white;
    padding: 5px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99; }
.uxb-draggable .show-for-medium {
  max-width: 600px; }
  .uxb-draggable .show-for-medium::after {
    content: 'Chỉ hiển thị ở chế độ Tablet và Mobile'; }
  .uxb-draggable .show-for-medium .hide-for-small::after {
    content: 'Chỉ hiển thị ở chế độ Tablet'; }
.uxb-draggable .show-for-small::after {
  content: 'Chỉ hiển thị ở chế độ Mobile'; }
.uxb-draggable .hide-for-medium::after {
  content: 'Chỉ hiển thị ở chế độ Desktop'; }
.uxb-draggable .hide-for-small::after {
  content: 'Chỉ hiển thị ở chế độ Desktop và Tablet'; }
.uxb-draggable .hidden {
  visibility: visible !important; }
  .uxb-draggable .hidden::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' version='1.1' x='0px' y='0px' viewBox='0 0 1000 1000' enable-background='new 0 0 1000 1000' xml:space='preserve' fill='red' opacity='.2'%3E%3Cmetadata%3E Svg Vector Icons : http://www.onlinewebfonts.com/icon %3C/metadata%3E%3Cg%3E%3Cpath d='M846.5,153.5c-191.3-191.4-501.6-191.4-693,0c-191.4,191.4-191.3,501.6,0,692.9c191.4,191.4,501.6,191.4,693,0C1037.9,655.1,1037.8,344.9,846.5,153.5L846.5,153.5z M211.2,788.8C61.9,639.5,52.5,403.4,182.7,243L757,817.3C596.6,947.5,360.5,938,211.2,788.8L211.2,788.8z M806.7,768.8L231.1,193.3C391.5,52.5,635.7,58.2,788.8,211.2C941.8,364.4,947.5,608.4,806.7,768.8L806.7,768.8z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    z-index: 1; }
  .uxb-draggable .hidden::after {
    content: 'Tạm ẩn trên toàn bộ thiết bị'; }

.absolute-footer,
html {
  background: #fbf9f6 !important; }

body {
  font-size: 15px; }

#header .logo-left .logo {
  margin-right: 24px; }
  #header .logo-left .logo a {
    padding: 4px 8px; }
#header .header-wrapper {
  max-width: 1424px;
  margin: 10px auto 0;
  border-radius: 12px;
  background: var(--Color-White-white-100, #fff);
  -webkit-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.05); }
#header .header-bg-color {
  background: transparent; }
#header .header-nav {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch; }
  #header .header-nav:has(.header-search) {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  #header .header-nav .menu-item {
    margin: 0;
    color: var(--Color-Gray-gray-900, #18181b);
    /* Normal/text-lg */
    font-family: var(--Font-Inter, Inter);
    font-size: var(--Font-Size-17, 17px);
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    /* 141.176% */
    border: none; }
    #header .header-nav .menu-item a {
      font-size: inherit;
      font-weight: inherit;
      color: inherit;
      text-transform: initial;
      line-height: inherit;
      height: 100%; }
      #header .header-nav .menu-item a i {
        -webkit-transform: rotate(0deg);
                transform: rotate(0deg);
        -webkit-transition: 0.2s all;
        transition: 0.2s all;
        font-size: 16px;
        width: 16px;
        height: 16px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        opacity: 1;
        margin-left: 6px; }
      #header .header-nav .menu-item a[href]:hover {
        color: var(--fs-experimental-link-color-hover); }
    #header .header-nav .menu-item.underline > a {
      text-decoration: underline;
      text-underline-position: under; }
  #header .header-nav .sub-menu {
    border: none; }
    #header .header-nav .sub-menu .menu-item {
      border: none;
      color: var(--Color-Gray-gray-900, #18181b);
      /* Normal/text-lg */
      font-family: var(--Font-Inter, Inter);
      font-size: var(--Font-Size-17, 17px);
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      /* 141.176% */ }
      #header .header-nav .sub-menu .menu-item a {
        border: none;
        margin: 0 12px;
        padding: 8px 0; }
  #header .header-nav > .menu-item > a {
    padding: 12px 20px; }
    #header .header-nav > .menu-item > a + .sub-menu {
      padding: 24px 12px;
      border-radius: 12px;
      background: var(--Color-White-white-100, #fff);
      -webkit-box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.05);
              box-shadow: 0 8px 24px 0 rgba(0, 0, 0, 0.05);
      -webkit-transform: translateY(14px);
              transform: translateY(14px);
      margin-left: 0 !important;
      left: 20px; }
      #header .header-nav > .menu-item > a + .sub-menu > .menu-item {
        min-width: 236px;
        width: 236px; }
        #header .header-nav > .menu-item > a + .sub-menu > .menu-item.menu-item-has-children {
          font-weight: 700; }
  #header .header-nav > .menu-item.current-dropdown > a {
    color: var(--fs-experimental-link-color-hover); }
    #header .header-nav > .menu-item.current-dropdown > a i {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
      -webkit-transition: 0.2s all;
      transition: 0.2s all; }
  #header .header-nav > .menu-item.current-dropdown:before, #header .header-nav > .menu-item.current-dropdown:after {
    bottom: -20px;
    border-width: 50px;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    opacity: 0; }
  #header .header-nav > .header-search > a, #header .header-nav > .cart-item > a {
    line-height: 1px;
    padding: 12px;
    min-height: 20px;
    min-width: 20px; }

.page-service_banner {
  padding-top: 0 !important;
  padding-bottom: 40px !important; }
  .page-service_banner .banner {
    border-radius: 24px;
    overflow: hidden; }
    .page-service_banner .banner .text-box {
      padding: 32px; }
      .page-service_banner .banner .text-box :last-child {
        margin-bottom: 0; }
      .page-service_banner .banner .text-box h1 {
        color: var(--Color-White-white-100, #FFF);
        /* Bold/text-7xl */
        font-family: var(--Font-Playfair, Playfair);
        font-size: var(--Font-Size-60, 60px);
        font-style: normal;
        font-weight: 700;
        line-height: 60px;
        /* 100% */
        margin-top: 0;
        margin-bottom: 20px; }
      .page-service_banner .banner .text-box p {
        color: var(--Color-White-white-100, #FFF);
        /* Normal/text-lg */
        font-family: var(--Font-Inter, Inter);
        font-size: var(--Font-Size-17, 17px);
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 141.176% */ }

.page-service_best_seller_in_month {
  padding-top: 120px !important;
  padding-bottom: 96px !important; }
  .page-service_best_seller_in_month .row-image .box {
    border-radius: 12px; }
  .page-service_best_seller_in_month .row-image .box-text {
    border-radius: 12px;
    background: rgba(162, 180, 181, 0.51);
    -webkit-backdrop-filter: blur(10px);
            backdrop-filter: blur(10px);
    color: white;
    padding: 24px;
    opacity: 1;
    margin: 24px; }
    .page-service_best_seller_in_month .row-image .box-text :last-child {
      margin-bottom: 0; }
    .page-service_best_seller_in_month .row-image .box-text p {
      color: var(--Color-White-white-100, #FFF);
      /* Semibold/text-md */
      font-family: var(--Font-Inter, Inter);
      font-size: var(--Font-Size-15, 15px);
      font-style: normal;
      font-weight: 600;
      line-height: 22px;
      /* 146.667% */
      margin-top: 0; }
    .page-service_best_seller_in_month .row-image .box-text p:first-child {
      color: var(--Color-Gray-gray-900, #18181B);
      /* Semibold/text-xs */
      font-family: var(--Font-Inter, Inter);
      font-size: 12px;
      font-style: normal;
      font-weight: 600;
      line-height: 16px;
      /* 133.333% */
      border-radius: 8px;
      background: #A2B4B5;
      padding: 4px 8px;
      display: inline-block;
      margin-bottom: 6px; }
    .page-service_best_seller_in_month .row-image .box-text h3 {
      color: var(--Color-White-white-100, #FFF);
      /* Bold/text-6xl */
      font-family: var(--Font-Playfair, Playfair);
      font-size: var(--Font-Size-48, 48px);
      font-style: normal;
      font-weight: 700;
      line-height: 48px;
      /* 100% */
      margin-bottom: 20px;
      margin-top: 0; }

.page-service_customer_skin_success {
  padding-top: 120px !important;
  padding-bottom: 36px !important; }
  .page-service_customer_skin_success .row-title .col-inner {
    padding-right: 104px; }
  .page-service_customer_skin_success .row-testimonial-slider {
    margin-top: 36px; }
    .page-service_customer_skin_success .row-testimonial-slider .col-testimonial > .col-inner {
      border-radius: 12px !important;
      background: var(--Color-White-white-100, #FFF);
      padding: 12px;
      min-height: 500px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
    .page-service_customer_skin_success .row-testimonial-slider ._text {
      padding: 20px; }
      .page-service_customer_skin_success .row-testimonial-slider ._text :last-child {
        margin-bottom: 0; }
      .page-service_customer_skin_success .row-testimonial-slider ._text p {
        color: var(--Color-Gray-gray-900, #18181B);
        /* Normal/text-lg */
        font-family: var(--Font-Inter, Inter);
        font-size: var(--Font-Size-17, 17px);
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        /* 141.176% */
        margin-bottom: 20px; }
      .page-service_customer_skin_success .row-testimonial-slider ._text blockquote p {
        color: var(--Color-Gray-gray-900, #18181B);
        /* Normal/text-4xl */
        font-family: var(--Font-Inter, Inter);
        font-size: var(--Font-Size-30, 30px);
        font-style: normal;
        font-weight: 400;
        line-height: 36px;
        /* 120% */ }
    .page-service_customer_skin_success .row-testimonial-slider .stack {
      margin-left: -6px;
      margin-right: -6px; }
      .page-service_customer_skin_success .row-testimonial-slider .stack .box {
        padding: 0 6px; }
      .page-service_customer_skin_success .row-testimonial-slider .stack img {
        aspect-ratio: 1 / 1;
        -o-object-fit: cover;
           object-fit: cover;
        border-radius: 8px; }
      .page-service_customer_skin_success .row-testimonial-slider .stack .box-image,
      .page-service_customer_skin_success .row-testimonial-slider .stack .box-image > div {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center; }
      .page-service_customer_skin_success .row-testimonial-slider .stack .box-text {
        margin: 12px;
        border-radius: 8px;
        /* Normal/text-sm */
        font-family: var(--Font-Inter, Inter);
        font-size: var(--Font-Size-14, 14px);
        font-style: normal;
        font-weight: 400;
        line-height: 19px;
        /* 135.714% */ }
    .page-service_customer_skin_success .row-testimonial-slider .flickity-button {
      --padding-col: 12px;
      --padding-button: 12px;
      --width-height: 46px;
      position: absolute;
      opacity: 1;
      left: unset !important;
      right: var(--padding-col) !important;
      -webkit-transform: unset !important;
              transform: unset !important;
      bottom: unset !important;
      top: calc((var(--width-height) + 60px) * -1) !important;
      width: var(--width-height);
      height: var(--width-height);
      min-height: var(--width-height);
      min-width: var(--width-height);
      border-radius: 12px;
      background: var(--Color-Gray-gray-900, #18181B) !important;
      opacity: 1 !important;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
      .page-service_customer_skin_success .row-testimonial-slider .flickity-button[disabled] {
        opacity: 0.5 !important; }
      .page-service_customer_skin_success .row-testimonial-slider .flickity-button svg {
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
        padding: 0;
        max-width: 24px;
        width: 100%;
        height: 100%;
        padding: 4px; }
        .page-service_customer_skin_success .row-testimonial-slider .flickity-button svg path {
          fill: white; }
      .page-service_customer_skin_success .row-testimonial-slider .flickity-button.previous {
        right: calc(var(--padding-button) + var(--padding-col) + var(--width-height)) !important; }

.page-service_skin-problem-question {
  padding-top: 120px !important;
  padding-bottom: 96px !important; }
  .page-service_skin-problem-question .col-skin-problem {
    padding-bottom: 48px; }
    .page-service_skin-problem-question .col-skin-problem:last-child {
      padding-bottom: 0; }
    .page-service_skin-problem-question .col-skin-problem .col-inner {
      border-radius: 12px;
      background: var(--Color-White-white-100, #FFF);
      padding: 4px; }
    .page-service_skin-problem-question .col-skin-problem .icon-box-img,
    .page-service_skin-problem-question .col-skin-problem .icon-box-img .icon,
    .page-service_skin-problem-question .col-skin-problem .icon-box-img .icon-inner {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; }
    .page-service_skin-problem-question .col-skin-problem .icon-box-img img,
    .page-service_skin-problem-question .col-skin-problem .icon-box-img svg {
      padding: 0;
      aspect-ratio: 1/1;
      border-radius: 8px; }
    .page-service_skin-problem-question .col-skin-problem .icon-box-text {
      padding: 20px;
      margin-left: 4px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; }
      .page-service_skin-problem-question .col-skin-problem .icon-box-text h3 {
        color: var(--Color-Gray-gray-900, #18181B);
        /* Normal/text-3xl */
        font-family: var(--Font-Inter, Inter);
        font-size: var(--Font-Size-24, 24px);
        font-style: normal;
        font-weight: 400;
        line-height: 32px;
        /* 133.333% */
        margin-bottom: 20px; }
      .page-service_skin-problem-question .col-skin-problem .icon-box-text ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        .page-service_skin-problem-question .col-skin-problem .icon-box-text ul li {
          margin: 0;
          display: grid;
          grid-auto-flow: column;
          gap: 6px;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          margin-right: 16px; }
          .page-service_skin-problem-question .col-skin-problem .icon-box-text ul li img {
            margin: 0; }
      .page-service_skin-problem-question .col-skin-problem .icon-box-text .button.is-link {
        padding: 12px 16px;
        margin-top: 20px;
        font-weight: bold;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; }
        .page-service_skin-problem-question .col-skin-problem .icon-box-text .button.is-link i {
          min-height: 16px;
          min-width: 16px;
          border: 1.5px solid #18181B;
          display: -webkit-inline-box;
          display: -ms-inline-flexbox;
          display: inline-flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          border-radius: 50%;
          font-size: 8px;
          margin-left: 10px; }

[class*="i-custom_"] {
  opacity: 0; }

[class*="i-custom_"].has-changed {
  -webkit-animation: bevitaFadeIn 0.2s ease forwards;
          animation: bevitaFadeIn 0.2s ease forwards; }

@-webkit-keyframes bevitaFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes bevitaFadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.button[class*="i-custom_"].button.is-link, .button[class*="i-custom_"].button.is-underline {
  padding: 0;
  min-width: unset;
  min-height: unset;
  border-radius: 0 !important;
  color: var(--Color-Gray-gray-900, #18181B);
  margin: 0;
  /* Normal/text-md */
  font-family: var(--Font-Inter, Inter);
  font-size: var(--Font-Size-15, 15px);
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  /* 146.667% */ }
  .button[class*="i-custom_"].button.is-link span, .button[class*="i-custom_"].button.is-underline span {
    line-height: inherit; }

.section .row-title .section-title-container {
  margin-bottom: 16px; }
.section .row-title:has(._text) .section-title-container {
  margin-bottom: 20px; }
.section .row-title ._text {
  color: var(--Color-Gray-gray-700, #3F3F46);
  /* Normal/text-lg */
  font-family: var(--Font-Inter, Inter);
  font-size: var(--Font-Size-17, 17px);
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  /* 141.176% */ }
.section .row-title .section-title {
  border: none; }
.section .row-title b {
  opacity: 0; }
.section .row-title span {
  border: none;
  margin-bottom: 0;
  padding-bottom: 0; }
.section .row-title h2 {
  color: var(--Color-Gray-gray-900, #18181B);
  /* Bold/text-7xl */
  font-family: var(--Font-Playfair, Playfair);
  font-size: var(--Font-Size-60, 60px);
  font-style: normal;
  font-weight: 700;
  line-height: 60px;
  /* 100% */ }

.section-go_back_history {
  padding-top: 16px !important;
  padding-bottom: 16px !important; }
  .section-go_back_history:first-child {
    margin-top: 22px; }
  .section-go_back_history .row .col {
    padding-bottom: 0; }

#footer {
  padding-top: 80px;
  border-top: 1px solid var(--Color-Gray-gray-200, #e4e4e7);
  background: var(--Color-Gray-gray-50, #fafafa); }
  #footer .footer {
    background: var(--Color-Gray-gray-50, #fafafa);
    padding: 0;
    border: none; }
  #footer .footer-widgets.footer-1 {
    --width-block_widget: 490px; }
    #footer .footer-widgets.footer-1 .widget {
      margin-bottom: 24px; }
    #footer .footer-widgets.footer-1 .block_widget {
      max-width: var(--width-block_widget);
      -ms-flex-preferred-size: var(--width-block_widget);
          flex-basis: var(--width-block_widget); }
      #footer .footer-widgets.footer-1 .block_widget .icon-box-img {
        margin-bottom: 12px; }
        #footer .footer-widgets.footer-1 .block_widget .icon-box-img img,
        #footer .footer-widgets.footer-1 .block_widget .icon-box-img svg {
          padding-top: 0; }
      #footer .footer-widgets.footer-1 .block_widget .gap-element {
        padding-top: 20px !important; }
      #footer .footer-widgets.footer-1 .block_widget .social-icons.follow-icons {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex; }
        #footer .footer-widgets.footer-1 .block_widget .social-icons.follow-icons .icon {
          margin: 0;
          line-height: 1;
          width: 36px;
          height: 36px;
          min-width: 36px;
          min-height: 36px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
              -ms-flex-align: center;
                  align-items: center;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center;
          margin-right: 12px;
          border: none;
          border-radius: 99px;
          background: var(--Color-Gray-gray-200, #e4e4e7); }
          #footer .footer-widgets.footer-1 .block_widget .social-icons.follow-icons .icon i {
            color: black;
            line-height: 1;
            font-size: 20px; }
    #footer .footer-widgets.footer-1 .widget_nav_menu {
      -ms-flex-preferred-size: calc((100% - var(--width-block_widget)) / 3);
          flex-basis: calc((100% - var(--width-block_widget)) / 3);
      max-width: calc((100% - var(--width-block_widget)) / 3); }
      #footer .footer-widgets.footer-1 .widget_nav_menu .widget-title {
        color: var(--Text-text-body, #171717);
        /* Bold/text-lg */
        font-family: var(--Font-Inter, Inter);
        font-size: var(--Font-Size-17, 17px);
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        /* 141.176% */
        margin-bottom: 20px;
        display: block; }
      #footer .footer-widgets.footer-1 .widget_nav_menu .is-divider {
        display: none; }
      #footer .footer-widgets.footer-1 .widget_nav_menu .menu .menu-item {
        border: none;
        color: var(--Color-Gray-gray-900, #18181b);
        /* Normal/text-md */
        font-family: var(--Font-Inter, Inter);
        font-size: var(--Font-Size-15, 15px);
        font-style: normal;
        font-weight: 400;
        line-height: 22px;
        /* 146.667% */ }
        #footer .footer-widgets.footer-1 .widget_nav_menu .menu .menu-item a {
          display: block;
          padding: 12px 0; }
  #footer .absolute-footer {
    background: var(--Color-Gray-gray-50, #fafafa);
    padding-top: 0;
    padding-bottom: 0;
    color: var(--Color-Gray-gray-500, #71717b);
    /* text-sm-14-normal */
    font-family: var(--Utilities-Font-font-family, Inter);
    font-size: var(--Utilities-Font-Size-text-sm, 14px);
    font-style: normal;
    font-weight: var(--Utilities-Font-Weight-normal, 400);
    line-height: var(--Utilities-Line-height-20---f14, 20px);
    /* 142.857% */ }
    #footer .absolute-footer > .container {
      padding: 24px 0;
      border-top: 1px solid var(--Color-Gray-gray-200, #e4e4e7); }
    #footer .absolute-footer a {
      color: inherit; }
      #footer .absolute-footer a:hover {
        color: var(--fs-experimental-link-color-hover); }
    #footer .absolute-footer .footer-secondary {
      padding: 0; }
      #footer .absolute-footer .footer-secondary a {
        margin: 0 12px; }
